.nav{
    margin: 100px;
}
.navigation-bar {
    display: flex;
    width: auto;
    align-items: flex-end;
    gap: 257px;
    padding: 0px 16px;
    position: relative;
    background-color: #463c3b;
}

.navigation-bar .all-components {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.navigation-bar .logo {
    position: relative;
    width: 118px;
    height: 48px;
    object-fit: cover;
    
    cursor: pointer;
}

.navigation-bar .navigation-text {
    display: inline-flex;
    align-items: center;
    gap: 60px;
    padding: 0px 8px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.navigation-bar .text-wrapper a{
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #e1d7d5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.navigation-bar .ellipse {
    position: relative;
    width: 33px;
    height: 33px;
    
    cursor: pointer;
}
